<a href="https://colab.research.google.com/github/MeenalJy/PyWarrior-Challenge/blob/main/challenge_part_one.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Ask for the user’s first name and
display the output message.

In [ ]:
name = str(input("Enter your name: "))

print("Hello", name)

Enter your name: Jayant
Hello Jayant

2. Ask for the user’s first name and then ask for
their surname and display the output message.

In [ ]:
first_name = str(input("Enter your first name: "))

last_name = str(input("Enter your surname: "))

print("Hello", first_name , last_name, "Welcome to the club")

Enter your first name: Mojo
Enter your surname: Jojo
Hello Mojo Jojo Welcome to the club

3. Write code that will display the joke “What do you call a bear with no
teeth?” and on the next line display the answer “A gummy bear!” Try to
create it using only one line of code.

In [ ]:
print("What do you call a bear with no teeth? \n \nA gummy bear")

What do you call a bear with no teeth?

A gummy bear

4. Ask the user to enter
two numbers. Add
them together and
display the answer as

In [ ]:
num_1 = float(input("Enter the first number:"))

num_2 = float(input("Enter your second number: "))

sum = num_1 + num_2

print("The sum of the two numbers is: ", sum)

Enter the first number:23
Enter your second number: 24
The sum of the two numbers is:  47.0

5. Ask the user to enter three
numbers. Add together the first
two numbers and then multiply
this total by the third. Display the
answer as The answer is

In [ ]:
num_1 = float(input("Enter the first number: "))

num_2 = float(input("Enter the second number: "))

num_3 = float(input("Enter the third number: "))

sum = ((num_1) + (num_2)) * (num_3)
print("The answer is ", sum)

Enter the first number: 5
Enter the second number: 100
Enter the third number: 1000
The answer is  105000.0

6. Ask how many slices
of pizza the user
started with and ask
how many slices
they have eaten.
Work out how many
slices they have left
and display the
answer in a userfriendly
format.

In [ ]:
total_slice = int(input("The number of pizza slices in total: "))
eaten_slice = int(input("The number of pizza slices you have eaten: "))
diff = ((total_slice) - (eaten_slice))

print("Number of pizza slices are left: ", diff)

The number of pizza slices in total: 50
The number of pizza slices you have eaten: 35
Number of pizza slices are left:  15

7. Ask the user for their name and their age. Add 1 to their age
and display the output

In [ ]:
name_friend = str(input("Enter your name: "))

age_friend = int(input("Enter your age: "))

birthday = (age_friend) + 1

print("Hello,", (name_friend), "on your next birthday you will be ", birthday)

Enter your name: Muskaan
Enter your age: 21
Hello, Muskaan on your next birthday you will be  22

8. Ask for the total price of the bill, then ask how
many diners there are. Divide the total bill by the
number of diners and show how much each
person must pay.

In [ ]:
bill_total = float(input("Enter the total bill: "))

num_diners = int(input("Enter total number of diners: "))

each_diner = ((bill_total) / (num_diners))

print("Each person has to pay Rupees ",each_diner)

Enter the total bill: 200
Enter total number of diners: 4
Each person has to pay Rupees  50.0

9. Write a program
that will ask for a
number of days
and then will
show how many
hours, minutes
and seconds are
in that number

In [ ]:
num_of_days = int(input("Enter the number of days: "))

num_of_hr = int((num_of_days) * 24 )
num_of_min = int((num_of_hr) * 60 )
num_of_secs = int((num_of_min) * 60)
print("In", (num_of_days), "days, total hours are ",(num_of_hr), "\ntotal minutes are ",(num_of_min), "\ntotal seconds are ", (num_of_secs) )

Enter the number of days: 1
In 1 days, total hours are  24
total minutes are  1440
total seconds are  86400

10. There are 2,204 pounds in a kilogram. Ask the
user to enter a weight in kilograms and convert it
to pounds.

In [ ]:
weight_of_user = float(input("Enter your weight in kg: "))

k_weight = float((weight_of_user) * 2204)

p_weight = float((k_weight) / 1000)

print("Your weight is ", (p_weight),"pounds")

Enter your weight in kg: 50
Your weight is  110.2 pounds

11. Task the user to enter a number over 100 and then enter a number under
10 and tell them how many times the smaller number goes into the larger
number in a user-friendly format.

In [ ]:
num_1 = float(input("Enter the number over 100: "))

num_2 = float(input("Enter the number smaller than 10: "))

inside = int((num_1) // (num_2))

print("The number of times the smaller number goes into the larger number is: ", [inside])

Enter the number over 100: 300
Enter the number smaller than 10: 6
The number of times the smaller number goes into the larger number is:  [50]