<a href="https://colab.research.google.com/github/MeenalJy/PyWarrior-Challenge/blob/main/challenge_part_five.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Part-5: For Loop**

35. Ask the user to enter
their name and then
display their name
three times.

In [ ]:
name_game = str(input("Enter your name: "))

for i in range(1,4):
  print(name_game)

Enter your name: Kirari Monobami
Kirari Monobami
Kirari Monobami
Kirari Monobami

36. Alter program 035 so that it will ask the user to enter their
name and a number and then display their name that
number of times.

In [ ]:
name_game = str(input("Enter your name: "))
num_game = int(input("Enter a number: "))
num = (num_game)+1
for i in range(1,(num)):
  print(name_game)

Enter your name: Deva
Enter a number: 3
Deva
Deva
Deva

37. Ask the user to enter their name and display each letter in
their name on a separate line.

In [ ]:
name_game = str(input("Enter your name: "))
for i in (name_game):
  print(i)

Enter your name: Midari
M
i
d
a
r
i

38. Change program
037 to also ask for a
number. Display
their name (one
letter at a time on
each line) and
repeat this for the
number of times
they entered.

In [ ]:
name_game = str(input("Enter your name: "))
num_game = int(input("enter your number: "))
num = (num_game)+1

for i in range(1,(num)):
  for i in (name_game):
    print(i)

Enter your name: Bloom
enter your number: 4
B
l
o
o
m
B
l
o
o
m
B
l
o
o
m
B
l
o
o
m

39. Ask the user to enter a number between 1
and 12 and then display the times table for
that number.

In [ ]:
import math

num_game = int(input("Enter a number between 1 and 12: "))
num = (num_game)+1
for count in range(1,(num)):
  game = count * (num_game)
  print(game)

Enter a number between 1 and 12: 2
2
4

40. Ask for a number below 50 and then count down from
50 to that number, making sure you show the number
they entered in the output.

In [ ]:
import math
num_game = int(input("Enter a number below 50: "))
num = (num_game) - 1

for i in range(50,(num),-1):
  print(i)

Enter a number below 50: 40
50
49
48
47
46
45
44
43
42
41
40

41. Ask the user to enter their
name and a number. If the
number is less than 10, then
display their name that
number of times; otherwise
display the message “Too
high” three times.

In [ ]:
import math

name_game = str(input("Enter your name: "))
num_game = int(input("Enter a number: "))
num = (num_game) + 1
if num_game <=10:
  for i in range(1,(num)):
    print(name_game)

else:
  print("Too high")

Enter your name: mojo
Enter a number: 5
mojo
mojo
mojo
mojo
mojo

42. Set a variable called total to 0. Ask the user to enter
five numbers and after each input ask them if they
want that number included. If they do, then add the
number to the total. If they do not want it included,
don’t add it to the total. After they have entered all five
numbers, display the total.

In [67]:
import math

total = 0

for i in range(1,6):
  num = int(input("Enter your number: "))
  ask = str(input("Do you want to include it? y/n: "))
  if ask == "y":
    total = (num) + (total)
print(total)

Enter your number: 2
Do you want to include it? y/n: y
Enter your number: 3
Do you want to include it? y/n: y
Enter your number: 4
Do you want to include it? y/n: y
Enter your number: 5
Do you want to include it? y/n: y
Enter your number: 6
Do you want to include it? y/n: y
20

43. Ask which direction the user wants to count (up or down). If they select up, then ask
them for the top number and then count from 1 to that number. If they select down, ask
them to enter a number below 20 and then count down from 20 to that number. If they
entered something other than up or down, display the message “I don’t understand”.

In [73]:
dir_game = str(input("Want to count up or down? "))

if dir_game =="up":
  num_game = int(input("Enter a top number: "))
  num = (num_game) + 1
  for i in range(1, (num)):
    print(i)
elif dir_game =="down":
  num_game = int(input("Enter a number below 20: "))
  num = (num_game) - 1
  for i in range(20,(num),-1):
    print(i)
else:
  print("I don't understand it!")

Want to count up or down? up
Enter a top number: 23
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23

44. Ask how many people the user wants to invite to a party. If they enter a number below
10, ask for the names and after each name display “[name] has been invited”. If they
enter a number which is 10 or higher, display the message “Too many people”.

In [76]:
num_game = int(input("How many number of people you want to invite? "))
num = (num_game) + 1
if num_game <=10:
  for i in range(1,(num)):
    name = str(input("Enter the name of the person: "))
    print((name),"has been invited")
else:
  print("Too many people")

How many number of people you want to invite? 5
Enter the name of the person: tom
tom has been invited
Enter the name of the person: som
som has been invited
Enter the name of the person: rom
rom has been invited
Enter the name of the person: kom
kom has been invited
Enter the name of the person: lom
lom has been invited